.form-contacts {
  @include list-reset();
}

.form__contacts {
  background-color: transparent;
}

.form-contacts__title {
  @include title(24px, 26px, none);
  padding: 0;
}

.form-contacts__list {
  background-color: transparent;
}

.form-contacts__item {
  background-color: transparent;
}

.form-contacts__label {
  @include title(16px, 18px, uppercase, $color-base-text);
  position: relative;
}

.form-contacts__input {
  &:hover + .form-contacts__icon {
    background-color: $color-special-dark-grey-2;
    transition: background-color 0.2s linear;
  }

  &:focus-visible {
    border: 1px solid $color-base-text;
    outline: 1px solid $color-base-text;
    transition: outline 0.2s linear;
  }

  &:focus-visible + .form-contacts__icon {
    background-color: $color-basic-green;
    transition: background-color 0.2s linear;
  }

  &:invalid:not(:placeholder-shown) {
    border: 1px solid $color-status-error;
    outline: 1px solid $color-status-error;
  }

  &:invalid:not(:placeholder-shown) + .form-contacts__icon {
    background-color: $color-status-error;
    transition: background-color 0.2s linear;
  }
}

.form-contacts__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $color-title-text;
  transition: background-color 0.2s linear;
}

.form-contacts__icon--email {
  mask-image: url("../../images/icons/stack.svg#form_icon-email");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
}

.form-contacts__icon--phone {
  mask-image: url("../../images/icons/stack.svg#form_icon-phone");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
}
