.form-comment {
  @include list-reset();
  grid-column: 1/-1;
}

.form__comment {
  margin-bottom: 23px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.form-comment__title {
  @include title(24px, 26px, none);
  margin-bottom: 38px;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include title(36px, 36px, none);
    margin-bottom: 87px;
  }
}

.form-comment__input {
  width: $mobile-wrapper;
  height: 150px;
  padding: 14px 14px 14px 15px;
  resize: none;

  &::placeholder {
    @include title(16px, 18px);

    @media (min-width: $tablet-width) {
      @include title(20px, 30px);
    }
  }

  @media (min-width: $tablet-width) {
    width: 628px;
    height: 175px;
    padding: 11px 20px;
  }
}

.form-comment__input-text {
  background-color: transparent;
}
