.form-main {
  background-color: transparent;
}

.form-main__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto 32px;

  .button {
    width: 100%;
    margin-bottom: 21px;
    transition: color 0.2s linear;

    &:active {
      color: rgba($color-title-text-white, 0.3);
      transition: color 0.2s linear;
    }
  }

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
    margin-bottom: 61px;
    padding: 0 40px;

    .button {
      @include title(20px, 26px, uppercase, $color-title-text-white);
      margin-bottom: 0;
      padding: 14px 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
    padding: 0;
  }
}
