.form-result {
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form-result__list {
  @include flexbox(flex-start, normal, column);
  gap: 25px;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    gap: 23px;
    margin-bottom: 65px;
    padding: 28px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-result__item {
  background-color: transparent;
}

.form-result__label {
  @include flexbox(normal, center);

  &:hover .form-result__input {
    border: 1px solid #bababa;
    transition: background-color 0.2s linear;
  }
}

.form-result__input {
  position: absolute;
  width: 30px;
  height: 30px;
  transition: background-color 0.2s linear;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-result__input--hidden {
  &[type="radio"]:checked + .form-result__input--radio::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: $color-basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
    }
  }

  &[type="radio"]:disabled ~ span {
    opacity: 0.3;
  }

  &[type="radio"]:checked:disabled ~ span {
    opacity: 0.3;
  }
}

.form-result__input--radio {
  @include flexbox(center, center);
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form-result__description {
  @include title(16px, 18px, uppercase, $color-base-text);
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    @include title(20px, normal, uppercase, $color-base-text);
    margin-left: 60px;
  }
}
