.form-contacts {
  background-color: transparent
}

.form__contacts {
  @include list-reset();
  border: none
}

.form-contacts__title {
  @include title(24px, 26px, none);
  margin-bottom: 35px;
  padding: 0;
}

.form-contacts__list {
  @include flexbox(flex-start, normal, column);
  gap: 14px;
  margin-bottom: 24px;
}

.form-contacts__item {
  background-color: transparent;
}

.form-contacts__label {
  @include title(16px, 18px, uppercase, $color-base-text);
  display: flex;
  align-items: center;
  position: relative;
}

.form-contacts__input {
  width: 100%;
  margin-left: 13px;
  &:hover + .form-contacts__icon {
    background-color: $color-special-dark-grey-2;
    transition: background-color 0.2s linear;
  }

  &:focus-visible {
    border: 1px solid $color-base-text;
    outline: 1px solid $color-base-text;
    transition: outline 0.2s linear;
  }

  &:focus-visible + .form-contacts__icon {
    background-color: $color-basic-green;
    transition: background-color 0.2s linear;
  }

  &:invalid:not(:placeholder-shown) {
    border: 1px solid $color-status-error;
    outline: 1px solid $color-status-error;
  }

  &:invalid:not(:placeholder-shown) + .form-contacts__icon {
    background-color: $color-status-error;
    transition: background-color 0.2s linear;
  }
}

.form-contacts__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: background-color 0.2s linear;
}

.form-contacts__icon--email {
  @include mask-image(url("../../images/icons/stack.svg#form_icon-email"), 20px 20px, $color-title-text);
  }

.form-contacts__icon--phone {
  @include mask-image(url("../../images/icons/stack.svg#form_icon-phone"), 20px 20px, $color-title-text);
}
