.form-cat-info {
  @include list-reset();
  grid-column: 1/-1;
}

.form__cat-info {
  border: none;
}

.form-cat-info__list {
  @include flexbox(flex-start, normal, column);
  gap: 14px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    gap: 42px;
    margin-bottom: 84px;
  }
}

.form-cat-info__item {
  @include flexbox(space-between, center);
  gap: 13px;
}

.form-cat-info__label {
  @include title(16px, 18px, uppercase, $color-base-text);
  width: auto;

  @media (min-width: $tablet-width) {
    @include title(20px, normal, uppercase, $color-base-text);
  }
}

.form-cat-info__input {
  width: 100%;
}
