.form-main {
  background-color: transparent;
}

.form-main__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;

  .button {
    width: 100%;
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
    padding: 0 40px;

    .button {
      @include title(20px, 26px, uppercase, $color-title-text-white);
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper;
    padding: 0;
  }
}
