.form-cat-info {
  @include list-reset();
}

.form__cat-info {
  border: none;
}

.form-cat-info__list {
  @include flexbox(flex-start, normal, column);
  gap: 14px;
  margin-bottom: 28px;
}

.form-cat-info__item {
  @include flexbox(space-between, center);
  gap: 13px;
}

.form-cat-info__label {
  @include title(16px, 18px, uppercase, $color-base-text);
  width: auto;
}

.form-cat-info__input {
  width: 100%;
}
