.input {
  @include title(16px, 18px, uppercase, $color-base-text);
  padding: 14px 33px 13px 15px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    @include title(16px, 18px, uppercase, $color-base-text);

    @media (min-width: $tablet-width) {
      @include title(20px, normal, uppercase, $color-base-text);
    }
  }

  @media (min-width: $tablet-width) {
    @include title(20px, normal, uppercase, $color-base-text);
    padding: 11px 34px 11px 20px;
  }
}
