@mixin font-face($font-family, $font-src, $font-size, $line-height) {
  @font-face {
    font-family: $font-family;
    src: $font-src;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 400;
    font-display: swap;
  }
}
