/* здесь используйте глобальные переменные */

// цвета
$color-base-text: #444444;
$color-title-text: #000000;
$color-title-text-white: #ffffff;
$color-basic-grey: #f2f2f2;
$color-special-dark-grey-1: #111111;
$color-special-dark-grey-2: #222222;
$color-special-grey: #666666;
$color-status-error: #ff8282;
$color-basic-green: #68b738;
$color-basic-green-2: #5eaa2f;
