/* здесь используйте глобальные переменные */

// цвет текста
$color-base-text: #444444;
$color-title-text: #000000;
$color-title-text-white: #ffffff;
$color-special-dark-grey-2: #222222;

// цвет заливки
$bg-basic-green: #68b738;
$bg-basic-grey: #f2f2f2;
