.example {
  background-color: transparent;
}

.example__wrapper {
  background-color: transparent;
}

.example__title {
  @include title(36px, 40px, none);
}

.example__description {
  @include main-text(16px, 24px);
  margin: 0;
}

.example__list {
  background-color: transparent;
}

.example__item {
  background-color: transparent;
}

.example__item-wrapper {
  background-color: transparent;
}

.example__number {
  @include title(24px, 24px);
}

.example__number-description {
  @include main-text(14px, 14px);
  margin: 0;
}

.example__result {
  @include title(20px);
}

.example__slider {
  background-color: transparent;
}
