.example {
  width: $mobile-width;
  background-color: $color-ultra-light-grey;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    background-image: linear-gradient(to top, $color-ultra-light-grey 462px, $color-title-text-white 462px);
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.example__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 25px 0 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 367px 241px;
    column-gap: 100px;
    width: $tablet-wrapper;
    padding: 45px 0 101px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    width: $desktop-wrapper;
  }
}

.example__title {
  @include title(36px, 40px, none);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include title(60px, 60px, none);
    grid-column: 1/-1;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 146px;
  }
}

.example__description {
  @include main-text(14px, 18px);
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    @include main-text(16px, 24px);
    grid-column: 1/-1;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    width: 435px;
    margin-bottom: 69px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    grid-column: 1/2;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}

.example__item {
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__item-wrapper {
  position: relative;
}

.example__number {
  @include title(24px, 24px);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include title(30px, 37px);
  }
}

.example__number-description {
  @include main-text(12px, 12px);
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: max-content;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  background-color: $color-ultra-light-grey;

  @media (min-width: $tablet-width) {
    @include main-text(14px, 14px);
    bottom: -21px;
    padding: 0 8px;
    background-color: $color-title-text-white;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    bottom: -33px;
    width: fit-content;
    padding: 0 14px;
    background-color: $color-ultra-light-grey;

    br {
      display: none;
    }
  }
}

.example__result {
  @include title(14px, 20px);
  width: $mobile-wrapper;
  margin-bottom: 20px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include title(20px, 20px);
    justify-self: end;
    align-self: center;
    width: fit-content;
    text-align: right;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    justify-self: start;
    text-align: left;

    br {
      display: none;
    }

    .example__result-price {
      margin-left: 63px;
    }
  }
}

.example__slider {
  background-color: transparent;
}
