.hero {
  @include title(14px, 14px, none, $color-title-text-white);
  position: relative;

  &::before {
    @include position();
    content: "";
    z-index: -1;
    width: 320px;
    height: 302px;
    background-image: url("../../images/index/index-background-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    background-image: none;

    &::before {
      background-image: none;
    }
  }

  @media (min-width: $desktop-width) {
    top: -126px;


    &::before {
      @include position(0, 75%);
      content: "";
      z-index: -1;
      width: 720px;
      height: 694px;
      background-image: url("../../images/index/index-background-desktop@1x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}


.hero__wrapper {
  position: relative;
  width: $mobile-width;
  margin: 0 0 20px;
  padding-top: 27px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba($color-basic-green, 0.85) 302px, $color-title-text-white 302px);

  .button {
    margin: 0 auto;
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 90px 529px 90px;
    margin: 0 auto;
    padding-top: 65px;
    width: 709px;

    .button {
      position: absolute;
      top: 295px;
      left: 0;
      grid-column: 2/-1;
      width: 244px;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 80px 530px 720px;
    grid-template-rows: 224px auto auto auto 184px;
    margin: 0 auto;
    width: 1330px;
    background-image: linear-gradient(to right, rgba($color-title-text-white, 1) 50%, rgba($color-basic-green, 0.85) 50%);

    .button {
      position: static;
      grid-column: 2/3;
      grid-row: 4/5;
      margin: 0;
      width: 244px;
    }
  }
}

.hero__wrapper-img {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 143px;
    left: 467px;
  }
}


.hero__title {
  @include title(36px, 36px, none, $color-title-text-white);
  width: 250px;
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    @include title(60px, 60px, none, $color-title-text);
    grid-column: 2/-1;
    width: 500px;
    margin-bottom: 40px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include title(60px, 60px, none, $color-title-text);
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 40px;
  }
}

.hero__description {
  @include title(14px, 14px, uppercase, $color-title-text-white);
  width: 250px;
  margin: 0 auto 27px;

  @media (min-width: $tablet-width) {
    @include title(20px, 20px, uppercase, $color-title-text);
    grid-column: 2/-1;
    width: fit-content;
    margin-bottom: 21px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 52px;
  }
}

