.hero {
  @include title(14px, 14px, none, $color-title-text-white);
  position: relative;

  @media (min-width: $desktop-width) {
    top: -132px;
    width: 100vw;
    background-image: linear-gradient(to right, transparent 50%, rgba($color-basic-green, 0.85) 50%);
  }
}

.hero__wrapper {
  position: relative;
  min-width: 320px;
  width: 100vw;
  margin: 0 0 20px;
  padding-top: 27px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba($color-basic-green, 0.85) 63%, $color-title-text-white 63%);

  .button {
    margin: 0 auto;
    width: 280px;
  }

  &::before {
    @include position(0, 0);
    content: "";
    z-index: -2;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to bottom, #404042 63%, $color-title-text-white 63%);
  }

  &::after {
    @include position(0, 50%);
    content: "";
    z-index: -1;
    transform: translateX(-50%);
    min-width: 320px;
    height: 302px;

    background-image:
      image-set(
        url("../../images/index/index-background-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/index/index-background-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/index/index-background-mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/index/index-background-mobile@2x.jpg") type("image/jpg") 2x
      );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 90px 528px 90px;
    margin: 0 auto;
    padding-top: 51px;
    width: 709px;
    background-image: none;

    .button {
      @include title(20px, 26px, uppercase, $color-title-text-white);
      position: absolute;
      top: 281px;
      left: 0;
      grid-column: 2/-1;
      width: 244px;
      padding: 14px 0;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 134px 530px 720px;
    grid-template-rows: 176px auto auto auto 184px;
    margin: 0 auto;
    width: 1330px;

    &::before {
      content: "";
      z-index: -2;
      display: block;
      width: 1330px;
      height: 100%;
      background-image: linear-gradient(to right, #ffffff 50%, #404042 50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      display: block;
      width: 100vw;
      height: 100%;
      margin-left: auto;
      background-image:
        image-set(
          url("../../images/index/index-background-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/index/index-background-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/index/index-background-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/index/index-background-desktop@2x.jpg") type("image/jpg") 2x
        );
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .button {
      position: static;
      grid-column: 2/3;
      grid-row: 4/5;
      margin: 0;
      width: 244px;
    }
  }
}

.hero__wrapper-img {
  margin: 0 auto 4px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 147px;
    left: 501px;
  }
}


.hero__title {
  @include title(36px, 36px, none, $color-title-text-white);
  width: 250px;
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    @include title(60px, 60px, none, $color-title-text);
    grid-column: 2/-1;
    width: 500px;
    margin-bottom: 40px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include title(60px, 60px, none, $color-title-text);
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 40px;
  }
}

.hero__description {
  @include title(14px, 14px, uppercase, $color-title-text-white);
  width: 250px;
  margin: 0 auto 27px;

  @media (min-width: $tablet-width) {
    @include title(20px, 20px, uppercase, $color-title-text);
    grid-column: 2/-1;
    width: fit-content;
    margin-bottom: 21px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 52px;
  }
}

