.slider {
  background-color: transparent
}

.slider__wrapper-before {
  background-color: transparent
}

.slider__wrapper-after {
  background-color: transparent
}

.slider__img {
  background-color: transparent
}

.slider__img--before {
  background-color: transparent
}

.slider__img--after {
  background-color: transparent
}

.slider__button {
  background-color: transparent
}
