.footer {
  background-color: transparent;
}

.footer__logo-link {
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }
}

.footer__logo-text {
  margin: 0;
}
