.footer {
  @include flexbox(center, center, column);
  gap: 29px;
  padding: 40px 20px;
  background-color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 226px);
    gap: 15px;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 10px;
    padding: 66px 110px;
  }
}

.footer__logo-link-icon {
  transition: opacity 0.2s linear;
  width: fit-content;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
  }

  &:focus-visible {
    opacity: 0.8;
    outline: none;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }
}

.footer__logo-link {
  @include main-text(16px, 20px);
  width: $mobile-wrapper;
  text-decoration: none;
  transition: opacity 0.2s linear;

  &:focus-visible {
    outline: none;

    .footer__logo-text::after {
      background-color: $color-basic-green;
      transition: background-color 0.2s linear;
    }
  }

  @media (min-width: $tablet-width) {
    width: 168px;
    margin-left: auto;
  }
}

.footer__logo-text {
  @include flexbox(space-between, center);
  position: relative;
  margin: 0;

  &::after {
    @include mask-image(url("../../images/icons/stack.svg#footer_logo-html-academy"), 27px 34px, $color-special-grey);
    content: "";
    display: inline-block;
    width: 27px;
    height: 34px;
    transition: background-color 0.2s linear;
  }

  &:hover::after {
    background-color: $color-basic-green;
    transition: background-color 0.2s linear;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.2s linear;
  }
}
