.footer {
  background-color: transparent;
}

.footer__logo-link-icon {
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }
}

.footer__logo-link {
  @include main-text(16px, 20px);
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.footer__logo-text {
  margin: 0;
}
