.header {
  @include flexbox(space-between, center);
  padding: 13px 21px 14px 15px;
}

.header__logo-link {
  @include flexbox(space-between, center);
  width: 190px;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }
}

.header__logo-img {
  background-color: transparent;
}

.header__logo-text {
  background-color: transparent;
}
