.header {
  @include flexbox(space-between, center);
  padding: 13px 21px 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 25px 33px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.header__logo-link {
  @include flexbox(space-between, center);
  gap: 56px;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }

  @media (min-width: $tablet-width) {
   gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}
