.header {
  @include flexbox(space-between, center);
}

.header__logo-link {
  @include flexbox(space-between, center);
  gap: 56px;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }

  @media (min-width: $tablet-width) {
   gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}
