.hero{
  font-family: "Oswald";
  color: $color-title-text-white;
  background-image: linear-gradient(to bottom, $bg-basic-green 50%, #ffffff 50%);
}

.hero__wrapper {

}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__img {

}
