.navigation {
  position: relative;
}

.navigation__toogle {
  @include mask-image(url("../../images/icons/stack.svg#button-burger"), 24px 24px, $color-title-text);
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover,
  &:focus-visible {
    background-color: $color-basic-green;
    transition: background-color 0.2s linear;
  }

  &:active {
    background-color: $color-basic-green;
    opacity: 0.3;
    transition: background-color 0.2s linear;
  }
}

.navigation__list {
  position: absolute;
  top: 48px;
  right: -36px;
  width: 320px;
  background-color: $color-title-text-white;
}

.navigation__item {
  @include flexbox(center, center);
}

.navigation__link {
  @include title;
  display: inline-block;
  padding: 21px 0 23px;
}
