.navigation {
  background-color: transparent;
}

.navigation__toogle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  mask-image: url("../../images/icons/stack.svg#button-burger");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 24px 24px;
  background-color: $color-title-text;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $bg-basic-green;
    transition: background-color 0.2s linear;
  }

  &:active {
    background-color: $bg-basic-green;
    opacity: 0.3;
    transition: background-color 0.2s linear;
  }
}

.navigation__list {
  background-color: transparent;
}

.navigation__item {
  background-color: transparent;
}

.navigation__link {
  @include title;
}
