.page {
  height: 100%;
  background-color: $color-basic-grey;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-self: center;
  width: $mobile-width;
  min-height: 100%;
  margin: 0 auto;
  background-color: $color-title-text-white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.page__body-header {
  margin: 0;
  padding: 13px 21px 14px 15px;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    width: 704px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    padding-top: 55px;
    width: 1220px;
  }
}
