.social {
  @include flexbox(center, center);
  gap: 24px;
  flex-wrap: wrap;
  width: $mobile-wrapper;
  padding: 20px 0;

  @media (max-width: $tablet-width - 1px) {
    &::before,
    &::after {
      content: "";
      width: 280px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.social__item {
  background-color: transparent;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $color-basic-green;
    transition: background-color 0.2s linear;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.2s linear;
  }

  &--vk {
    @include mask-image(url("../../images/icons/stack.svg#footer_icon-social-vk"), 28px 22px, $color-special-grey);
  }

  &--yt {
    @include mask-image(url("../../images/icons/stack.svg#footer_icon-social-yt"), 28px 22px, $color-special-grey);
  }

  &--tg {
    @include mask-image(url("../../images/icons/stack.svg#footer_icon-social-tg"), 28px 22px, $color-special-grey);
  }
}
