.gift {
  position: relative;
  background-color: rgba($bg-basic-green, 0.85);

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#catalog_icon-gift");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 78px 80px;
  }
}

.gift__title {
  @include main-text(16px, 20px, $color-title-text-white);
  text-align: center;
}
