.product-description {
  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 13px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 12px;
  }
}

.product-description__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 70px);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 125px);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 85px);
  }
}

.product-description__parameter {
  margin: 0;
}

.product-description__value {
  margin: 0;
  text-align: right;
}
