.product-description {
  background-color: transparent
}

.product-description__row {
  background-color: transparent
}

.product-description__parameter {
  background-color: transparent
}

.product-description__value {
  background-color: transparent
}
