.product-description {
  @media (min-width: $tablet-width) {
    border-spacing: 0 20px;
  }
}

.product-description__row {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
    }
  }
}

.product-description__parameter {
  background-color: transparent;
}

.product-description__value {
  text-align: right;
}
