.product-extra {
  background-color: transparent;
}

.product-extra__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
}

.product-extra__title {
  @include title(24px, 24px, none);
  margin-bottom: 36px;
}

.product-extra__list {
  background-color: transparent;
}

.product-extra__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 13px 0 19px;

  .button {
    grid-column: 1/-1;
  }
}

.product-extra__item-title {
  @include title(16px, 16px, uppercase, $color-special-dark-grey-2);
  grid-column: 1/-1;
  margin-bottom: 13px;
}

.product-extra__description {
  @include main-text(14px, 14px);
  margin-bottom: 15px;
  padding: 0;
}

.product-extra__description--parameter {
  background-color: transparent;
}

.product-extra__description--value {
  justify-self: end;
}
