.product-extra {
  position: relative;
}

.product-extra__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-wrapper;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
    width: $desktop-wrapper;
    margin-bottom: 87px;
  }
}

.product-extra__title {
  @include title(24px, 24px, none);
  width: fit-content;
  margin-bottom: 36px;
  background-color: $color-title-text-white;
  box-shadow: 20px 0 $color-title-text-white, -20px 0 $color-title-text-white;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $color-basic-green;
  }

  @media (min-width: $tablet-width) {
    @include title(36px, 36px, none);
    margin: 0 0 80px 40px;
    box-shadow: 40px 0 $color-title-text-white, -40px 0 $color-title-text-white;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.product-extra__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.product-extra__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 13px 0 19px;

  .button {
    grid-column: 1/-1;
  }

  @media (max-width: $tablet-width - 1px) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: $mobile-wrapper;
      height: 1px;
      padding: 0;
      background-color: #cdcdcd;
    }

    &:first-child::before {
      @include position();
      content: "";
      width: $mobile-wrapper;
      height: 1px;
      padding: 0;
      background-color: #cdcdcd;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 400px 140px 90px;
    padding: 26px 38px 28px;
    outline: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 80px 245px 80px 245px;
    padding: 15px 0 17px;
    outline: none;

    .button {
      grid-column: 5/6;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 895px;
      height: 1px;
      padding: 0;
      background-color: #cdcdcd;
    }

    &:first-child::before {
      @include position();
      content: "";
      width: 895px;
      height: 1px;
      padding: 0;
      background-color: #cdcdcd;
    }
  }
}

.product-extra__item-title {
  @include title(16px, 16px, uppercase, $color-special-light-dark-grey);
  grid-column: 1/-1;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    @include title(20px, 20px, uppercase, $color-special-light-dark-grey);
    grid-column: 1/2;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin: 0;
    align-self: center;
  }
}

.product-extra__description {
  @include main-text(14px, 14px);
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include main-text(16px, 20px);
  }

  &--parameter {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      justify-self: end;
    }

    @media (min-width: $desktop-width) {
      grid-column: 3/4;
      justify-self: start;
      align-self: center;
    }
  }

  &--value {
    justify-self: end;

    @media (min-width: $desktop-width) {
      grid-column: 4/5;
      justify-self: start;
      align-self: center;
    }
  }
}
